<footer class="footer-reset">
    <div class="footer__content">
        <div class="footer__top">
            <div class="footer__top-left">
                <ul class="list-reset footer-list">
                    <li class="list-item-main">
                        <a class="link-reset list-item-title" href="#">Помощь</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Мой аккаунт</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Где мой магазин</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Доставка и оплата</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Правила возврата</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Найти магазин</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Подобрать размер</a>
                    </li>
                </ul>
            </div>
            <div class="footer__top-center">
                <ul class="list-reset footer-list">
                    <li class="list-item-main">
                        <a class="link-reset list-item-title" asp-controller="Product" asp-action="Catalog" role="button">Каталог</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Новинки</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Одежда</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Обувь</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Аксессуары</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Любимые бренды</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset text-red" href="#">Sale %</a>
                    </li>
                </ul>
            </div>
            <div class="footer__top-right">
                <ul class="list-reset footer-list">
                    <li class="list-item-main">
                        <a class="link-reset list-item-title" href="#">Компания</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">О нас</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Философия бренда</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Блог</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Контакты</a>
                    </li>
                    <li class="list-item">
                        <a class="link-reset" href="#">Faq</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__center">
            <div class="modal-pay">
                <a href="#" class="modal-pay-logo">
                    <img src="/img/modal-pay-logo-1.svg" alt="apple pay logo">
                </a>
                <a href="#" class="modal-pay-logo">
                    <img src="/img/modal-pay-logo-2.svg" alt="google pay logo">
                </a>
                <a href="#" class="modal-pay-logo">
                    <img src="/img/modal-pay-logo-3.svg" alt="mastercard logo">
                </a>
                <a href="#" class="modal-pay-logo">
                    <img src="/img/modal-pay-logo-4.svg" alt="mir logo">
                </a>
                <a href="#" class="modal-pay-logo">
                    <img src="/img/modal-pay-logo-5.svg" alt="visa logo">
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-text">&copy; Copyright 2022 4:20 shop. All Rights reserved. Условия пользования сайтом</p>
        </div>
    </div>
</footer>