@model string

<div class="col-2">
    <div style="display:flex" class="flex-column mb-4">
        <a style="margin-bottom: 20px; margin-right: auto"
           class="link-reset"
           asp-area=""
           asp-controller="Account"
           asp-action="Index"
           asp-route-userName="@Model">
            Личные данные
        </a>
        <a style="margin-bottom: 20px; margin-right: auto"
           class="link-reset"
           asp-area=""
           asp-controller="Account"
           asp-action="Orders"
           asp-route-userName="@Model">
            Заказы
        </a>
        <a style="margin-bottom: 20px; margin-right: auto"
           class="link-reset"
           asp-area=""
           asp-controller="Favorite"
           asp-action="Index">
            Избранное
        </a>
        <a style="margin-right: auto" class="link-reset text-red"
           asp-area=""
           asp-controller="Account"
           asp-action="Logout">
            Выйти
        </a>
    </div>
</div>