@model Login

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="text-center">Вход</h3>
        <form id="request" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="flex justify-content-between">
                <label asp-for="Email">Введите ваш e-mail</label>
                <span asp-validation-for="Email"></span>
                <input style="min-width:100%" asp-for="Email" placeholder="e-mail*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Password">Введите ваш пароль</label>
                <span asp-validation-for="Password"></span>
                <input style="min-width:100%" asp-for="Password" type="password" placeholder="пароль*" />
            </div>
            <div class="text-center">
                <label>
                    <input type="checkbox" name="rememberMe">
                    <span>Запомнить меня?</span>
                </label>
            </div>
            <button style="min-width:100%" class="btn btn-secondary" type="submit" asp-controller="Account" asp-action="Login">ВОЙТИ</button>
        </form>
        <div class="text-center">
            <a class="link-reset" asp-controller="Account" asp-action="Register">Регистрация</a>
        </div>
    </div>
</div>
