@model Login

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h4 class="text-center">Вход</h4>
        <form id="request" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="flex justify-content-between">
                <label asp-for="Email">Введите ваш e-mail</label>
                <span class="text-danger" asp-validation-for="Email"></span>
                <input class="input-reset" style="min-width:100%" asp-for="Email" placeholder="e-mail*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Password">Введите ваш пароль</label>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input class="input-reset" style="min-width:100%" asp-for="Password" type="password" placeholder="пароль*" />
            </div>
            <div class="text-center">
                <label class="modal-checkbox" style="margin-bottom: 1rem">
                    <input class="modal-checkbox-input" type="checkbox" name="rememberMe" value="true">
                    <span class="modal-checkbox-text">Запомнить меня?</span>
                </label>
            </div>
            <button style="min-width:100%"
                    class="btn btn-secondary mb-2"
                    type="submit"
                    asp-controller="Account"
                    asp-action="Login">ВОЙТИ</button>
        </form>
        <div class="text-center mb-2">
            <a class="link-reset"
               asp-area=""
               asp-controller="Account"
               asp-action="Register"
               asp-route-ReturnUrl="@Model.ReturnUrl">Регистрация
            </a>
        </div>
    </div>
</div>
