@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="text-center">Регистрация</h3>
        <form id="request" method="post">
            <p>Введите ваш e-mail</p>
            <input style="min-width:100%" type="email" name="email" placeholder="e-mail*" required>
            <p>Введите ваш пароль</p>
            <input style="min-width:100%" type="password" name="password" placeholder="пароль*" required>
            <p>Подтвердите ваш пароль</p>
            <input style="min-width:100%" type="password" name="password" placeholder="подтвердите пароль*" required>
            <button style="min-width:100%" class="btn btn-dark" type="submit" asp-controller="Account" asp-action="Register">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </form>
    </div>
</div>