@model ChangeRoleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h4 class="text-center">Изменение прав у пользователя @Model.UserName</h4>
        <form method="post">
            <input type="hidden" name="userName" value="@Model.UserName">
            @foreach (var role in Model.AllRoles)
            {
                if (Model.Roles.Contains(role))
                {
                    <label class="modal-checkbox pr-4">
                        <input class="modal-checkbox-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true" checked>
                        <span class="modal-checkbox-text">@role.Name</span>
                    </label>
                }
                else
                {
                    <label class="modal-checkbox pr-4">
                        <input class="modal-checkbox-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true">
                        <span class="modal-checkbox-text">@role.Name</span>
                    </label>
                }
            }
            <button style="min-width:100%"
                    class="btn btn-secondary mb-4"
                    type="submit"
                    asp-area="Admin"
                    asp-controller="User"
                    asp-action="ChangeRole">Сохранить
            </button>
        </form>
    </div>
</div>
