@model ChangePassword

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="text-center">Изменение пароля у пользователя @Model.UserName</h3>
        <form id="request" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" name="userName" value="@Model.UserName"/>
            <div class="flex justify-content-between">
                <label asp-for="Password">Введите новый пароль</label>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input class="input-reset" type="password" asp-for="Password" value="@Model.Password" placeholder="пароль*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="ConfirmPassword">Подтвердите новый пароль</label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <input class="input-reset" type="password" asp-for="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="подтвердите пароль*" />
            </div>
            <button style="min-width:100%"
                    class="btn btn-secondary"
                    type="submit"
                    asp-area="Admin"
                    asp-controller="User"
                    asp-action="ChangePassword">Сохранить
            </button>
        </form>
    </div>
</div>
