@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <img class="card-img-top" src="~/img/hudi.jpg" />
                <a href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                    <h5>@product.Cost руб.</h5>
                </a>
                <button class="btn btn-dark">Добавить в корзину</button>
            </div>
        </div>
    }
</div>