@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-4">
        <img style="max-width: 100%" src="@Model.ImgPath"/>
    </div>
    <div class="col-8">
        <a href="/product/index/@Model.Id">
            <h5>@Model.Name</h5>
            <h5>@Model.Cost руб.</h5>
            <p>@Model.Description</p>
        </a>
        <a class="btn btn-dark" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
    </div>
</div>

<a href="/product/catalog">В каталог</a>