@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="product">
    <div class="product__content">
        <div class="product-left">
            <div id="productThumbnail" class="splide productThumbnail" aria-label="">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev product__arrow">
                        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.90918 9L8.90918 1L16.9092 9" stroke="#8C9196" stroke-linecap="round" />
                        </svg>
                    </button>
                    <button class="splide__arrow splide__arrow--next product__arrow">
                        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.90918 9L8.90918 1L16.9092 9" stroke="#8C9196" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track splide__track-left">
                    <ul class="splide__list">
                        @foreach (var item in Model.ImgList)
                        {
                            <li class="splide__slide product__slide-item">
                                <div class="thumbnail-card">
                                    <img src="@item.Path" alt="">
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div id="productMain" class="splide" aria-label="">
                <div class="splide__track">
                    <ul class="splide__list">
                        @foreach (var item in Model.ImgList)
                        {
                            <li class="splide__slide product__slide-item">
                                <div class="card-main">
                                    <img src="@item.Path" alt="">
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h3 class="mb-0">
                        <button class="btn text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Сворачиваемый групповой элемент #1
                        </button>
                    </h3>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Некоторый заполнитель для первой панели аккордеона. Эта панель отображается по умолчанию благодаря классу <code>.show</code>.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Сворачиваемый групповой элемент #2
                        </button>
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Некоторый заполнитель для второй панели аккордеона. По умолчанию эта панель скрыта.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Сворачиваемый групповой элемент #3
                        </button>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        И, наконец, заполнитель для третьей и последней панели аккордеона. По умолчанию эта панель скрыта.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h3 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Сворачиваемый групповой элемент #4
                        </button>
                    </h3>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        И, наконец, заполнитель для третьей и последней панели аккордеона. По умолчанию эта панель скрыта.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



