@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero__content">
        <div class="hero__images">
            <div class="hero__img hero__img-1"></div>
            <div class="hero__img hero__img-2"></div>
            <div class="hero__img hero__img-3"></div>
        </div>
        <div class="hero__card">
            <h2 class="hero__title">Spring mood</h2>
            <h3 class="hero__text">-20% на новую коллекцию</h3>
            <a class="btn btn-secondary hero-btn" asp-controller="Product" asp-action="Catalog" role="button">В каталог</a>
        </div>
        <div id="heroSlider" class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Футболки</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Худи</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Свитшоты</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Лонгсливы</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Рубашки</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <img src="/img/hero__splide-1.jpg" alt="" class="hero__splide-img">
                            <p class="hero__splide-text">Свитера</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
