@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="link-reset" href="#">building Web apps with ASP.NET Core</a>
    <button class="btn btn-secondary" asp-controller="Home" asp-action="Index">Оформить заказ</button>
</div>
