<div class="col-2">
    <div style="display:flex" class="flex-column">
        <a style="margin-bottom: 20px; margin-right: auto" class="link-reset" asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
        <a style="margin-bottom: 20px; margin-right: auto" class="link-reset" asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
        <a style="margin-bottom: 20px; margin-right: auto" class="link-reset" asp-area="Admin" asp-controller="Role" asp-action="Index">Права</a>
        <a style="margin-right: auto" class="link-reset" asp-area="Admin" asp-controller="Product" asp-action="Index">Товары</a>
    </div>
</div>