html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:root {
    --color-white: #fff;
    --color-green: #13ed1c;
    --color-red: #ed1331;
    --color-dark: #1d1d1d;
    --color-default: #6c757d;
    --color-light: #aeb8c2;
    --color-active: #5f5f5f;
}

img {
    width: 100%;
    vertical-align: unset;
}

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-white);
}

a {
    color: inherit;
    outline: none;
}

/*resets*/
.table td,
.table th {
    vertical-align: unset;
}

/*для кнопок не по bootstrap*/
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*для ссылок НЕ в виде кнопок*/
.link-reset {
    position: relative;
    transition: color 0.3s ease-in-out;
    color: var(--color-default);
}

.link-reset::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border: 2px solid var(--color-light);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.link-reset:focus-visible::before {
    opacity: 1;
}

.link-reset:hover {
    color: var(--color-light);
}

.link-reset:hover::before {
    opacity: 0;
}

.link-reset:active {
    color: var(--color-active);
}
/*для bootstrap*/
.btn {
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
}

.btn:focus {
    box-shadow: unset;
}

.link-reset,
.btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.input-reset {
    height: 40px;
    min-width: 100%;
    margin-bottom: 1rem;
    padding-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-default);
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    background-color: var(--color-white);
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out;
}

.input-reset:focus,
.input-reset:hover {
    outline: none;
    background-color: #e4ecf5;
}

.input-reset:active {
    outline: none;
    color: var(--color-white);
    background-color: #e4ecf5;
}

.card-img-top {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

/* glob */

.container {
    max-width: 1440px;
    padding-top: 8px;
}

.row {
    height: 100%;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-red {
    color: var(--color-red);
}

.splide__pagination {
    bottom: -1em;
}

.splide__pagination__page {
    background: var(--color-default);
}

.splide__pagination__page.is-active {
    background: var(--color-active);
}

.splide__arrow {
    background: var(--color-default);
    width: 40px;
    height: 40px;
}

.splide__arrow:hover {
    outline: none;
}

/* header */
.header {
    max-height: 180px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__top-text {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-default);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    background-color: var(--color-white);
}

.header__center {
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    padding: 0 75px;
    background-color: var(--color-dark);
}

.header__bottom {
    background-color: var(--color-white);
}

.header__bottom-list {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 24px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo {
    max-height: 60px;
}

.header__logo-img{
    width: 60px;
    height: 60px;
}

.header__location {
    width: 91px;
    height: 16px;
}

.header__logo:focus-visible,
.header__location:focus-visible {
    outline: 2px solid var(--color-light);
    outline-offset: 2px;
}

.header__logo:hover,
.header__location:hover {
    outline: none;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__btn-sale {
    padding: 13px 27px;
    color: var(--color-white);
}

.header__btn {
    min-height: 100%;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: background-color 0.3s linear;
}

.header__btn:focus,
.header__btn:hover {
    outline: none;
    background-color: #2b2b2b;
}

.header__btn:active {
    background-color: var(--color-active);
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__right-btn {
    width: 35px;
    height: 35px;
}

.header__right-btn svg {
    width: 35px;
    height: 35px;
}

.svg-path {
    transition: stroke 0.3s ease-in-out;
}

.header__right-btn:focus {
    outline: none;
}

.header__right-btn:hover .svg-path {
    stroke: var(--color-light);
}

.header__right-btn:active .svg-path {
    stroke: var(--color-white);
}

.header__cart {
    position:relative;
}

.header__cart-counter {
    position: absolute;
    top: 39%;
    right: 30%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: red;
}

/* making order modal window */

.modal-content {
    padding: 50px;
    background-color: var(--color-white);
    border: unset;
    border-radius: unset;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-title {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: var(--color-dark);
}

.modal-text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--color-default);
}

.modal-form {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.modal-btn {
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    margin-bottom: 20px;
}

.modal-checkbox {
    margin-bottom:30px;
    max-width:290px;
    user-select: none;
    cursor: pointer;
}

.modal-checkbox-input {
    display: none;
    position: absolute;
}

.modal-checkbox-text {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-default);
}

.modal-checkbox-text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* квадратик ровно по вертикали */
    transform: translateY(-50%); /* квадратик ровно по вертикали */
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-default);
}

.modal-checkbox-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('/img/footer-checkbox.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.modal-checkbox-input:checked + .modal-checkbox-text::after { /* через + добрались до соседнего класса */
    opacity: 1;
}

.modal-checkbox-input:focus + .modal-checkbox-text {
    outline: 2px solid var(--color-default);
    outline-offset: 5px;
}

.modal-checkbox-input:hover + .modal-checkbox-text {
    outline: none;
    color: var(--color-default);
}

.modal-checkbox-input:active + .modal-checkbox-text {
    color: var(--color-active);
}

.modal-pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero */

.hero {
    margin-bottom: 80px;
}

.hero__content {
    padding: 0 60px;
}
.hero__images {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

.hero__img {
    max-width: 430px;
    min-height: 646px;
    width: 100%;
}

.hero__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__img-1 {
    background-image: url('/img/hero-1.jpg');
}
.hero__img-2 {
    background-image: url('/img/hero-2.jpg');
}
.hero__img-3 {
    background-image: url('/img/hero-3.jpg');
}

.hero__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
    position: absolute;
    top: 310px;
    right: 650px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.6);
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1;
    color: var(--color-dark);
}

.hero__text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    color: var(--color-dark);
}

.hero-btn {
    position: relative;
    padding-right: 60px;
}

.hero-btn::after {
    position: absolute;
    content:'';
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 13px;
    background-image: url('/img/arrow.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    transition: right 0.3s ease-in-out;
}

.hero-btn:hover::after {
    right: 10px;
}

/* hero slider */

.hero__splide-card {
    max-width: 130px;
}

.hero__splide-svg {
    position: relative;
    margin-bottom: 20px;
}

.hero__splide-img {
    position: absolute;
    top: 27px;
    max-width: 95px;
    height: 72px;
    object-fit: contain;
}

.hero__splide-text {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-dark);
    transition: color .3s ease-in-out;
}

.hero__splide-link {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.hero__splide-svg circle {
    fill: #f1f1f1;
    transition: fill .3s ease-in-out;
}

.hero__splide-link:focus .hero__splide-svg circle {
    fill: #d0dce8;
}

.hero__splide-link:focus .hero__splide-text {
    color: var(--color-default);
}

.hero__splide-link:hover .hero__splide-svg circle {
    fill: #d0dce8;
}

.hero__splide-link:hover .hero__splide-text {
    color: var(--color-default);
}

.hero__splide-link:active .hero__splide-svg circle {
    fill: var(--color-light);
}

.hero__splide-link:active .hero__splide-text {
    color: var(--color-dark);
}

/* popular */

.popular {
    margin-bottom: 80px;
}

.popular__content {
    padding: 0 60px;
}

.popular__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-title {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    color: var(--color-dark);
}

.popular__top-link {
    position: relative;
    padding-right: 40px;
}

.popular__top-link::after {
    position: absolute;
    content: '';
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 16px;
    background-image: url('/img/popular-arrow.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    transition: right 0.3s ease-in-out;
}

.popular__top-link:hover::after {
    right: 0;
}

.popular__splide-card {
    max-width: 300px;
    position: relative;
}

.popular__splide-like {
    position: absolute;
    top: 20px;
    right: 20px;
}

.popular__splide-like svg path {
    stroke: var(--color-default);
    transition: stroke .3s ease-in-out;
}

.popular__splide-like:focus svg path,
.popular__splide-like:hover svg path {
    stroke: var(--color-light);
}

.popular__splide-like:active svg path {
    stroke: var(--color-white);
}

.heart-fill svg {
    fill: var(--color-default);
}

.popular__splide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.popular__splide-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popular__splide-cost {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--color-dark);
}

.popular__splide-cart:hover .svg-path {
    stroke: var(--color-light);
}

.popular__splide-cart:active .svg-path {
    stroke: var(--color-dark);
}

.popular__splide-text {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--color-dark);
}

/* actual */

.actual {
    margin-bottom: 80px;
}

.actual__content {
    padding: 0 60px;
}

.actual__img {
    margin-bottom: 20px;
}

.actual__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--color-dark);
}

.actual__text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: var(--color-default);
}

.actual__text-mb {
    margin-bottom: 30px;
}

/* sale */

.sale {
    margin-bottom: 80px;
    background-color: #ffc803;
}

.sale__content {
    padding: 66px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale__title {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    color: var(--color-white);
}

.sale__form {
    position: relative;
}

.sale__form-input {
    height: 50px;
    min-width: 550px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--color-default);
    border: none;
    border-radius: 50px;
    background-color: var(--color-white);
    color: var(--color-grey);
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out;
}

.sale__form-input:focus,
.sale__form-input:hover {
    outline: none;
    background-color: #e4ecf5;
}

.sale__form-input:active {
    outline: none;
    color: var(--color-white);
    background-color: #e4ecf5;
}

.sale__form-btn {
    position: absolute;
    height: 50px;
    right: 0;
}

.sale__social-list {
    display: flex;
    gap: 20px;
}

.sale__social-link {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
}

.sale__social-link:focus {
    outline: none;
}

.sale__social-link:focus .sale__social-fill {
    fill: #e4ecf5;
}

.sale__social-link:hover .sale__social-fill {
    fill: #e4ecf5;
}

.sale__social-link:active .sale__social-fill {
    fill: var(--color-light);
}

/* sale */

.news {
    margin-bottom: 80px;
}

.news__content {
    padding: 0 60px;
}

.news__img {
    margin-bottom: 20px;
}

.news__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--color-dark);
}

.news__text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: var(--color-default);
}

/* footer */
.footer-reset {
    position: relative;
    background-color: #f6f6f6;
}

.footer-reset::before {
    position: absolute;
    content: "";
    bottom: 58px;
    right: 0;
    left: 0;
    border: 1px solid #dbdbdb;
}

.footer__content {
    max-width: 1440px;
    min-height: 500px;
    margin: 0 auto;
    padding: 80px 275px 0 275px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}

.footer-list {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.list-item:not(:last-child) {
    margin-bottom: 20px;
}

.list-item-main {
    margin-bottom: 30px;
}

.list-item-title {
    font-weight: 600;
    color: var(--color-dark);
}

.footer__center {
    max-width: 500px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 57px;
}

.footer__bottom-text {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--color-default);
}

/* catalog */

.catalog {
    margin-bottom: 80px;
}

.catalog__content {
    padding: 0 60px;
}

.catalog__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.catalog__top-counter {
    padding-bottom: 3px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--color-default);
}

.catalog__card {
    max-width: 300px;
}

.catalog__card-img {
    margin-bottom: 20px;
}

.catalog__card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.catalog__card-cost {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--color-dark);
}

.catalog-sale {
    margin-bottom: unset;
}

/* product */

.product {
    margin-bottom: 80px;
}

.product__content {
    padding: 0 60px;
}

.product__page-start {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #c5c5c5;
}

.product__page-product {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-dark);
}

.product__content-flex {
    display: flex;
    flex-wrap: nowrap;
}

product-flex {
    display: flex;
    align-items: flex-end;
}

.product__page-link {
    transition: color 0.3s ease-in-out;
}

.product__page-link:focus,
.product__page-link:hover {
    color: var(--color-default);
}

.product__page-link:active {
    color: #c5c5c5;
}

/* product img slider */
.product-left {
    position: relative;
    max-width: 518px;
    max-height: 650px;
    margin-right: 30px;
    display: flex;
}

.splide__track-left {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product__arrow {
    background-color: transparent;
}

.splide__arrows--ttb .splide__arrow--prev svg {
    transform: none;
}

.splide__arrows--ttb .splide__arrow--next svg {
    transform: rotate(180deg);
}

.splide__arrows--ttb .splide__arrow--prev {
    top: -14px;
}

.splide__arrows--ttb .splide__arrow--next {
    bottom: -14px;
}

.splide__arrow svg {
    fill: none;
}

.productThumbnail {
    margin-right: 30px;
}

.thumbnail-card {
    min-width: 68px;
}

.card-main {
    max-width: 420px;
}

.product__slide-item {
    opacity: 0.6;
}

.product__slide-item.is-active {
    opacity: 1;
}

.splide__track--nav > .splide__list > .splide__slide {
    border: none;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none;
}

/* end of product img slider */

.product-right {
    width: 100%;
}

.product__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: var(--color-dark);
}

.product__price {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: var(--color-dark);
}
/* product accordion */
.accordion {
    width: 100%;
}

.card {
    border-radius: unset;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-right: unset;
    border-left: unset;
}

.card-header {
    background-color: unset;
    padding: 1.25rem;
}

.btn-link {
    color: var(--color-default);
    text-decoration: none;
}

.accordion-btn {
    padding: 0;
    color: var(--color-default);
    transition: color .3s ease-in-out;
}

.accordion-btn:focus,
.accordion-btn:hover {
    color: var(--color-light);
}

.accordion-btn:active {
    color: var(--color-active);
}

.accordion__details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.accordion__details-left {
    max-width: 200px;
    margin-right: 30px;
}

.accordion__text-main {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-default);
}

.accordion__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-default);
}

.delivery-item {
    padding-left: 50px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.delivery-icon-1 {
    background-image: url('/img/delivery-icon-1.png');
}

.delivery-icon-2 {
    background-image: url('/img/delivery-icon-2.png');
}

.delivery-icon-3 {
    background-image: url('/img/delivery-icon-3.png');
}

/* end of product accordion */

/* favorite page */

.favorite__icon {
    position: relative;
}

.favorite__icon-img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.favorite__icon-img svg{
    fill: var(--color-default)
}

.favorite__icon-img svg path {
    stroke: var(--color-default);
    transition: stroke .3s ease-in-out;
}

.favorite__icon-img:focus svg path,
.favorite__icon-img:hover svg path {
    stroke: var(--color-light);
}

.favorite__icon-img:active svg path {
    stroke: var(--color-white);
}

