html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:root {
    --color-white: #fff;
    --color-green: #13ed1c;
    --color-red: #ed1331;
    --color-dark: #1d1d1d;
    --color-default: #6c757d;
    --color-light: #aeb8c2;
    --color-active: #5f5f5f;
}

img {
    width: 100%;
    vertical-align: unset;
}

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-white);
}

a {
    color: inherit;
    outline: none;
}

/*resets*/

.table td,
.table th {
    vertical-align: unset;
}

/*для кнопок не по bootstrap*/
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*для ссылок НЕ в виде кнопок*/
.link-reset {
    position: relative;
    transition: color 0.3s ease-in-out;
    color: var(--color-default);
}

.link-reset::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border: 2px solid var(--color-light);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.link-reset:focus-visible::before {
    opacity: 1;
}

.link-reset:hover {
    color: var(--color-light);
}

.link-reset:hover::before {
    opacity: 0;
}

.link-reset:active {
    color: var(--color-active);
}
/*для bootstrap*/
.btn {
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
}

.link-reset,
.btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.input-reset {
    height: 40px;
    min-width: 100%;
    margin-bottom: 1rem;
    padding-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-default);
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    background-color: var(--color-white);
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out;
}

.input-reset:focus,
.input-reset:hover {
    outline: none;
    background-color: #e4ecf5;
}

.input-reset:active {
    outline: none;
    color: var(--color-white);
    background-color: #e4ecf5;
}

/* glob */

.container {
    max-width: 1440px;
}

.row {
    height: 100%;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* header */
.header {
    max-height: 180px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__top-text {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-default);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    background-color: var(--color-white);
}

.header__center {
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    padding: 0 75px;
    background-color: var(--color-dark);
}

.header__bottom {
    background-color: var(--color-white);
}

.header__bottom-list {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 24px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo {
    max-height: 60px;
}

.header__logo-img{
    width: 60px;
    height: 60px;
}

.header__location {
    width: 91px;
    height: 16px;
}

.header__logo:focus-visible,
.header__location:focus-visible {
    outline: 2px solid var(--color-light);
    outline-offset: 2px;
}

.header__logo:hover,
.header__location:hover {
    outline: none;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__btn-sale {
    padding: 13px 27px;
    color: var(--color-white);
}

.header__btn {
    min-height: 100%;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: background-color 0.3s linear;
}

.header__btn:focus,
.header__btn:hover {
    outline: none;
    background-color: #2b2b2b;
}

.header__btn:active {
    background-color: var(--color-active);
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__right-btn {
    width: 35px;
    height: 35px;
}

.header__right-btn svg {
    width: 35px;
    height: 35px;
}

.svg-path {
    transition: stroke 0.3s ease-in-out;
}

.header__right-btn:focus {
    outline: none;
}

.header__right-btn:hover .svg-path {
    stroke: var(--color-light);
}

.header__right-btn:active .svg-path {
    stroke: var(--color-white);
}

.header__cart {
    position:relative;
}

.header__cart-counter {
    position: absolute;
    top: 39%;
    right: 30%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: red;
}

/* making order modal window */

.modal-content {
    padding: 50px;
    background-color: var(--color-white);
    border: unset;
    border-radius: unset;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-title {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: var(--color-dark);
}

.modal-text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--color-default);
}

.modal-form {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.modal-btn {
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    margin-bottom: 20px;
}

.modal-checkbox {
    margin-bottom:30px;
    max-width:290px;
    user-select: none;
    cursor: pointer;
}

.modal-checkbox-input {
    display: none;
    position: absolute;
}

.modal-checkbox-text {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-default);
}

.modal-checkbox-text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* квадратик ровно по вертикали */
    transform: translateY(-50%); /* квадратик ровно по вертикали */
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-default);
}

.modal-checkbox-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('/img/footer-checkbox.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.modal-checkbox-input:checked + .modal-checkbox-text::after { /* через + добрались до соседнего класса */
    opacity: 1;
}

.modal-checkbox-input:focus + .modal-checkbox-text {
    outline: 2px solid var(--color-default);
    outline-offset: 5px;
}

.modal-checkbox-input:hover + .modal-checkbox-text {
    outline: none;
    color: var(--color-default);
}

.modal-checkbox-input:active + .modal-checkbox-text {
    color: var(--color-active);
}

.modal-pay {
    display: flex;
    justify-content: space-between;
}